.product-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    .product-wrapper {
        margin-top: 3rem;
    }
}

@media only screen and (min-width: 1000px) {
    .product-wrapper {
        margin-top: 2rem;
        margin-bottom: 5rem;
        gap: 5rem;
        display: grid;
        grid-template-columns: 44.5rem 44.5rem;
    }
}

@media only screen and (min-width: 1200px) {
    .product-wrapper {
        margin-top: 5rem;
        margin-bottom: 5rem;
        gap: 11rem;
    }
}

.loading-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-color: #f9f9f9;/
}

.loading-spinner {
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-top: 8px solid #1c1e28;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-screen p {
    font-size: 1.5rem;
    color: #333;
}
