.styled-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    width: 100%;
    background-color: #1c2c38;
    padding: 1.9rem;
    border-radius: 1rem;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 700;
}

.styled-button.cart {
    box-shadow: 0px 2rem 5rem -2rem var(--orange);
}

.styled-button:hover {
    background-color: #51a6a6;
}


@media screen and (min-width: 768px) {
    .styled-button.cart {
        box-shadow: none;
    }
}
