.carousel-wrapper {
    cursor: pointer;
    width: 100%;
}

.splide {
    width: 100%;
    max-height: 390px;
}

.splide__arrow {
    background-color: var(--white);
    opacity: 1;
    height: 3rem;
    width: 4rem;
}

.thumb-btn {
    border: none;
    background: transparent;
    cursor: pointer;
    transition: transform 0.2s;
    min-width: 90px;

}


.carousel-wrapper img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnails {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    gap: 0.5rem;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #232f3e;
    border-radius: 10px;
    padding: 15px;

    max-width: 500px;
}


@media only screen and (min-width: 768px) {
    .carousel-wrapper {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        max-width: 450px;
        align-items: center;
    }

    .splide__arrow {
        display: none;
    }

    .thumbnails {
        display: flex;
        margin-top: 3rem;
        gap: 1.7rem;
        max-width: 460px;
    }

    .thumb-btn {
        border-radius: 1rem;
        overflow: hidden;
        transition: 0.3s ease opacity;
    }

    .thumb-btn.active {
        img {
            opacity: 0.5;
        }
        outline: 0.2rem solid white;
    }

    .thumb-btn:hover {
        opacity: 0.8;
    }
}

@media only screen and (min-width: 1000px) {
    .carousel-wrapper {
        max-width: 100%;
        margin-bottom: 3rem;
    }

    .splide__slide img {
        border-radius: 1.5rem;
    }

    .splide__arrow--next,
    .splide__arrow--prev {
        display: none;
    }
}
