.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Затінення фону */
    z-index: 1000;
}

.modal {
    background-color: #ffffff;
    border-radius: 10px; /* Заокруглені кути */
    padding: 0; /* Відсутність відступів, щоб уникнути проблем із шириною */
    width: 400px; /* Ширина модального вікна */
    max-width: 90%; /* Адаптація для мобільних пристроїв */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Тінь */
    position: relative;
    text-align: center;
}

.button_closeForm {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1; /* Щоб бути над іншими елементами */
}

.close {
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover {
    color: #ff0000;
}