.modal-header {
    background-color: #232F3E;
    color: #ffffff;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
}
.header-title{
    font-size:20px;
}