
.single-item-wrapper {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e0e0e0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    overflow-x: hidden;
}

.single-item-wrapper:hover {
    background-color: #f9f9f9;
}

.single-item-wrapper img {
    border-radius: 0.4rem;
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    cursor: pointer;
}

.item-info {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    flex-grow: 1;
}


.item-info .name {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--dark-grayish-blue);
    line-height: 1.2;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 30rem;
}



.item-info .total {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: #333;
}

.item-info .total span {
    margin-left: 0.5rem;
    font-weight: 700;

}

.quantity-control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.quantity-button {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.4rem;
    height: 2.4rem;
}

.quantity-button:hover {
    background-color: #e0e0e0;
}

.single-item-wrapper .item-info span {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0 1rem;
    text-align: center;
    min-width: 2.8rem;
    display: inline-block;
}
.quantity-number {
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;

    margin-right: 0.5rem;
}

.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 0.5rem;
}

.button:hover {
    transform: scale(1.1);
}

.button svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
    color: #888;
}

.button:hover svg use {
    fill: red;
}
