.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.input-fields {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin-bottom: 15px;
    margin-top:20px;
}

.input {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 0px;
    width: 100%;
    background-color: #fff;
}

.input img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-left:  5px;
    opacity: 0.6;
}

.input input {
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}
.input .button-hide-show {
    cursor: pointer;
    margin-left: 15px;
    width: 20px;
    height: auto;
}

.submit-button,
.link-button,
.google-button {
    width: 100%;
    padding: 10px;
    border: none;

    cursor: pointer;
    margin-bottom: 3px;
}

.submit-button {
    background-color: #232F3E;
    color: #ffffff; /* Білий текст */
}

.link-button {
    display: inline-block;
    background-color: transparent;
    color: #007bff;
    font-size: 14px;
    text-decoration: underline;
    margin: 5px 0;
    cursor: pointer;
    padding: 0;
    text-align:center;

}
.link-button:hover {
    text-decoration: none;
}


.form-container.h2 {
    text-align: center;
    margin-top:10px;
    margin-bottom:10px;
    font-size:16px;
}


.google-button{
    background-color: #518EF8;
    color:white;
    display:flex;
    justify-content :center;
    position:relative;
    margin-top:10px;
    font-size: 14px;

}
.google-button:hover {
    background-color: #357ae8;
}

/* Logo inside button */
.google-button img {
    position:absolute;
    left:0;
    top:0;
    width: 20px;
    height: 20px;
    border-radius:5px;
    margin-top:8px;
    margin-left:7px;

}

.error-message {
    color: red;
    font-size: 11px;
    margin-top: -13px;
    text-align:left;
    margin-left:5px;
}